*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #DF2935;
    text-align: center;
    
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #1C3041;
    background-color: greenyellow;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #7E2D3B;
    color: antiquewhite;
    border-radius: 1rem;
}

#new-btn{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #7E2D3B;
    color: antiquewhite;
    border-radius: 1rem;
}

#msg{
    color: #1C3041;
    font-size: 6vmin;

}

.msg-container{
     height: 100vmin;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 3rem;

}

.hide{
    display: none;
}